/* styles.css  */
/* {
	outline: 1px solid blue;
}*/

* {
font-family: Helvetica;	
}

.titles {
	border: 10px solid blue;
	border-radius: 15px;
	width: 250px;
	margin: auto;
	padding: 8px;

}


div{
	border: 5px solid blue;
	padding: 5px ;
	border-radius: 5px;
	margin: 10px;
	width: 300px;

}
h2 {
	border: 5px solid #09C7FF;
	margin: 10px;
	padding: 15px;
	width: 300px;
	border-radius: 15px;}


body {
	
}


li {
}

 ol {
	
}
ul {
}
